
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Editor-specific files
.vscode/
.idea/

# Database files
*.sqlite3
*.db

# Environment variables
.env

# Logs and temporary files
*.log
tmp/

# Build artifacts
dist/
build/

# Sensitive files
/keys/
*.pem
*.key