<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="{{ url_for('static', path='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/components.css') }}">
</head>

<body>
    <div class="container-center">
        <div class="card">
            {% block content %}{% endblock %}
            <div style="margin-top: 1.5rem; text-align:center; font-size: 0.85rem; opacity: 0.7;">
                © {{ year }} Tu Empresa — Este correo es automático.
            </div>
        </div>
    </div>
</body>
</html>
