:root {
     --color-royal-purple-50: #faf6fe;
     --color-royal-purple-100: #f2ebfc;
     --color-royal-purple-200: #e7dafa;
     --color-royal-purple-300: #d5bdf5;
     --color-royal-purple-400: #bc93ed;
     --color-royal-purple-500: #a16ae2;
     --color-royal-purple-600: #8b4ad3;
     --color-royal-purple-700: #7638b8;
     --color-royal-purple-800: #663399;
     --color-royal-purple-900: #522a79;
     --color-royal-purple-950: #371358;
}
 .light {
     --bg-color: var(--color-royal-purple-50);
     --card-bg: white;
     --text-color: #111827;
     --input-bg: #f9fafb;
     --input-border: #d1d5db;
     --button-bg: var(--color-royal-purple-600);
     --button-text: white;
}
 .dark {
     --bg-color: #1f1f2e;
     --card-bg: #27293d;
     --text-color: #f9fafb;
     --input-bg: #3b3b4f;
     --input-border: #4b4b63;
     --button-bg: var(--color-royal-purple-500);
     --button-text: white;
}
