{% extends "base.html" %}
{% block title %}Reset Password - Rebase{% endblock %}

{% block content %}
  <h1 class="page-title">Reset your password</h1>

  {% if error %}
    <div class="message-error">{{ error }}</div>
  {% endif %}

  <form action="/reset-password" method="post" novalidate>
    <input type="hidden" name="token" value="{{ token }}" />
    <div class="form-row">
      <label for="password">New Password</label>
      <input id="password" name="password" type="password" class="input" required>
    </div>

    <div class="form-row">
      <label for="confirm_password">Confirm New Password</label>
      <input id="confirm_password" name="confirm_password" type="password" class="input" required>
    </div>

    <div class="form-row">
      <button type="submit" class="button">Change password</button>
    </div>
  </form>

  <div style="margin-top: .75rem; text-align:center;">
    <a href="/authorize" class="text-link">Back to login</a>
  </div>
{% endblock %}
